{%extends 'registration/layout.html'%}
{% load widget_tweaks %}
{%load static%}
{%block content%}
        <!-- Section -->
        <section class="vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{%static '/assets/img/saas-form-image.jpg'%}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Listo! {{title}}</h1>
                                 <p>  Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.

                                    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado. </p>
                            </div>                            
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    No registrado?
                                    <a href="{% url 'blog:register' %}" class="font-weight-bold">Crear Cuenta</a>
                                </span>
                            </div>
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Ya tienes cuenta?
                                    <a href="{% url 'blog:login' %}" class="font-weight-bold">Ingresar</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

{% endblock %}