{%extends 'registration/layout.html'%}
{% load widget_tweaks %}
{%load static%}
{%block content%}
        <!-- Section -->
        <section class="vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{%static '/assets/img/saas-form-image.jpg'%}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">{{title}} </h1>
                                <p>Ingresa tu correo, te enviaremos un link con instrucciones para que puedas cambiar tu clave.</p>

                            </div>
                            {%if form.errors%}
							    {%for field in form%}
														{%if field.errors%}
															<div class ='alert alert-danger' role='alert'>
																{{field.label}} : {{field.errors|striptags}}
															</div>
														{%endif%}
									{%endfor%}
							{%endif%}
                            <form method="POST" class="mt-4">
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>                                        

                                        {%render_field form.email class="form-control" placeholder='ejemplo@example.cl'%}
                                             
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary">Enviar correo</button>
                                </div>
                            </form>
                            
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    No registrado?
                                    <a href="{% url 'blog:register' %}" class="font-weight-bold">Crear Cuenta</a>
                                </span>
                            </div>
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Ya tienes cuenta?
                                    <a href="{% url 'blog:login' %}" class="font-weight-bold">Ingresar</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

{% endblock %}





