{% load widget_tweaks %}
{%load static %}
            <div class="container">
                <div class="row row-grid align-items-center mb-7">
                    <div class="col-12 col-lg-5">
                        <h2 class="font-weight-bolder mb-4">Trabaja con nosotros</h2>
                        <p>Put any keyword into this tool to see which content has performed best in terms of social buzz, number of backlinks and organic search traffic.</p>
                        <p>Find all articles that mentioned your target keyword and use the "Highlight unlinked domains" feature to see which of these websites have never linked to you.</p>
                        <a href="{%url 'blog:register' %}" class="btn btn-primary mt-3 animate-up-2">
                            Crear cuenta                           
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 ml-lg-auto">
                        <img src="{%static '\assets\img\illustrations\hero-illustration.svg' %}" alt="image">
                    </div>
                </div>
                
            </div>
