{%load static %}

            <div class="container">
                <div class="row justify-content-center mb-4 mb-lg-6">
                    <div class="col-12 text-center">
                        <h1 class="display-3 mb-3 mb-lg-4">The tools you get with Rocket</h1>
                        <p class="lead">We add new tools and features regularly.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Tab -->
                        <nav>
                            <div class="nav nav-tabs flex-column flex-md-row bg-white shadow-soft border border-light justify-content-around rounded mb-lg-3 py-3" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link rounded mr-md-3 active" id="nav-content-research-tab" data-toggle="tab" href="#nav-content-research" role="tab" aria-controls="nav-content-research" aria-selected="true"><span class="d-block"><span class="fas fa-file-alt mr-2"></span><span class="font-weight-normal">Content Research</span></span></a>
                                <a class="nav-item nav-link rounded mr-md-3" id="nav-rank-track-tab" data-toggle="tab" href="#nav-rank-track" role="tab" aria-controls="nav-rank-track" aria-selected="false"><span class="fas fa-chart-line mr-2"></span><span class="font-weight-normal">Traffic Rank</span></a>
                                <a class="nav-item nav-link rounded mr-md-3" id="nav-web-monitor-tab" data-toggle="tab" href="#nav-web-monitor" role="tab" aria-controls="nav-web-monitor" aria-selected="false"><span class="far fa-bell mr-2"></span><span class="font-weight-normal">App Monitoring</span></a>
                                <a class="nav-item nav-link rounded mr-md-3" id="nav-backlink-research-tab" data-toggle="tab" href="#nav-backlink-research" role="tab" aria-controls="nav-backlink-research" aria-selected="false"><span class="fas fa-link mr-2"></span><span class="font-weight-normal">Tasks</span></a>

                            </div>
                        </nav>
                        <!-- Tab -->
                        <div class="tab-content mt-5 mt-lg-6" id="nav-tabContent">
                            <!-- Content Research Tab -->
                            <div class="tab-pane fade show active" id="nav-content-research" role="tabpanel" aria-labelledby="nav-content-research-tab">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-5">
                                        <h3 class="mb-4">Content Explorer</h3>
                                        <p>Put any keyword into this tool to see which content has performed best in terms of social buzz, number of backlinks and organic search traffic.</p>
                                        <p>Find all articles that mentioned your target keyword and use the "Highlight unlinked domains" feature to see which of these websites have never linked to you.</p>
                                        <a href="#!" class="my-4 mb-5 d-block font-weight-bold"><span class="fas fa-external-link-alt mr-2"></span>Content Explorer Tool</a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <img class="shadow rounded" src="{%static "/assets/img/saas-platform.png" %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <!-- Causes Tab -->
                            <div class="tab-pane fade" id="nav-rank-track" role="tabpanel" aria-labelledby="nav-rank-track-tab">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-5">
                                        <h3 class="mb-4">Traffic Rank</h3>
                                        <p class="lead">We track your desktop and mobile keyword rankings from any location and plot your full ranking history on a handy graph.</p>
                                        <p class="lead">You can set up automated ranking reports to be sent to your email address, so you’ll never forget to check your ranking progress.</p>
                                        <a href="#!" class="my-4 mb-5 d-block font-weight-bold"><span class="fas fa-external-link-alt mr-2"></span>Traffic Rank Tool</a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <img class="shadow rounded" src="{%static "/assets/img/saas-platform-2.png" %}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <!-- Effects Tab -->
                            <div class="tab-pane fade" id="nav-web-monitor" role="tabpanel" aria-labelledby="nav-web-monitor-tab">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-5">
                                        <h3 class="mb-4">App Monitoring</h3>
                                        <p class="lead">Get an email notification whenever you or your competitors win or lose a backlink. This is a great way to track their PR and linkbuilding activities and your own, almost in real time.</p>
                                        <p class="lead">Set up alerts for any keywords related to your brand, business, product or service. Whenever someone mentions one of these keywords on their website, you get an email notification with a link to that page.</p>
                                        <a href="#!" class="my-4 mb-5 d-block font-weight-bold"><span class="fas fa-external-link-alt mr-2"></span>App Monitoring</a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <img class="shadow rounded" src="{%static "/assets/img/saas-platform-3.png"%}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <!-- Effects Tab -->
                            <div class="tab-pane fade" id="nav-backlink-research" role="tabpanel" aria-labelledby="nav-backlink-research-tab">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-5">
                                        <h3 class="mb-4">Tasks</h3>
                                        <p class="lead">Get an email notification whenever you or your competitors win or lose a backlink. This is a great way to track their PR and linkbuilding activities and your own, almost in real time.</p>
                                        <p class="lead">Set up alerts for any keywords related to your brand, business, product or service. Whenever someone mentions one of these keywords on their website, you get an email notification with a link to that page.</p>
                                        <a href="#!" class="my-4 mb-5 d-block font-weight-bold"><span class="fas fa-external-link-alt mr-2"></span>Other reports in Site Explorer tool</a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <img class="shadow rounded" src="{%static "/assets/img/saas-platform-4.png"%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of tab -->
                    </div>
                </div>
            </div>
