 {%extends 'backoffice/layout.html'%}
 {%load static%}
{%block content%}
<main class="content">
 
                <div class="row justify-content-center py-7 pt-lg-8">
                    <div class="col-12 col-md-8 text-center"> 
                    |    <img src="https://ep01.epimg.net/elpais/imagenes/2015/04/30/ciencia/1430420317_959498_1430423238_sumario_normal.jpg" height="200" alt="Working hard">
                        <!-- <span class="icon icon-shape icon-shape-warning rounded-circle mb-4"><span class="fas fa-tools"></span></span>               -->
                        <h1 class="mb-4">Estamos trabajando!</h1>
                        <p class="lead mb-5 px-sm-5">Gracias por tu paciencia, los monos están dando lo mejor de ellos en la programacion.</p>
                        <img class="d-block mx-auto mb-4" src="{%static 'img/logonegroa1500x500.png '%}"  width="210" height="70" alt="proshot" >

       
                    </div>
                </div>
  
</main>

{%endblock%}